<div *ngIf="selectedHuman">
<div class="outerbox" *ngIf="parents">
  <div class="header">Parents of {{ selectedHuman.name }}</div>
  <div class="humans">
    <listHumans
      [humans]="parents"
      (selectHuman)="_onParent($event)"
      [displayOption]="displayOption"
    ></listHumans>
  </div>
</div>
<div class="outerbox">
  <div class="header">{{ selectedHuman.name }}</div>
  <div class="humans" (click)="_onHuman(selectedHuman)">
    <canvasHuman
      [human]="selectedHuman"
    ></canvasHuman>
  </div>
</div>
<div class="outerbox" *ngIf="children">
  <div class="header">Children of {{ selectedHuman.name }}</div>
  <div class="humans">
    <listHumans
      [humans]="children"
      (selectHuman)="_onChild($event)"
      [displayOption]="displayOption"
    ></listHumans>
  </div>
</div>
<div class="outerbox">
  <div class="header">Add Child to {{ selectedHuman.name }}</div>
  <div class="humans">
    <addFixRelation
    [human]="selectedHuman"
    [humans]="humans"
    [displayOption]="displayOption"
  ></addFixRelation>
  </div>
</div>
</div>